/* extra extra small device responsive css starts here */
@media (min-width:320px) and (max-width:350px){
    #header .mbl_header .offCanvas {
    max-width: 400px;
    width: 250px;
}
#header .mblMenu .profileOffCanvas {
    max-width: 370px;
    width: 250px;
}
#header .mbl_header .searchOffcanvas p {
    font-size: 12px;
}
#header .mblMenu ul a {
    font-size: 20px;
    width: 102px;
}
#header .mblMenu ul li a span {
    font-size: 13px;
}
#header .mblMenu .profileOffCanvas form label {
    font-size: 13px;
}
#header .mblMenu .profileOffCanvas form a.lost_password_link {
    font-size: 11px;
    margin-left: 0px;
}
#banner .slider_content_wrapper {
    height: 285px;
    padding: 15px 20px;
    margin: 0 0 20px 0;
    text-align: center;
}
#banner .slider_content_wrapper img{
    width: 200px;
    height: 115px;
    margin: auto;
}
#banner .slider_content_wrapper h6 {
    font-size: 9px;
}
#banner .slider_content_wrapper h1 {
    font-size: 17px;
    margin: 5px 0;
}
#banner .slider_content_wrapper h2{
    font-size: 15px;
    margin: 5px 0;
}
#banner .slider_content_wrapper h4 {
    font-size: 15px;
}
#banner .slider_content_wrapper p {
    font-size: 9px;
    margin: 4px 0;
}
#banner .slider_content_wrapper a {
    padding: 5px 10px;
    width: 98px;
    height: 33px;
    margin: 10px 0px;
    font-size: 10px;
    margin: auto;
}
#otherService {
    width: 100%;
    transform: translateY(0);
    height: auto;
}
#otherService .otherservicesBg {
    padding: 0px 0px;
}
#otherService .freeShip {
    border-bottom: 1px solid #e9e7e7;
    padding-bottom: 10px;
}
#otherService .freeShip .freeShipCnt h6 {
    font-size: 12px;
}
#otherService .freeShip .freeShipCnt p {
    font-size: 10px;
}
#feature .heading {
    margin-bottom: 15px;
    margin-top: 15px;
}
#feature .featureProCard .featureImg {
    position: relative;
    padding: 0 0 0 15px;
}
.featureProductSecondContainer .second_cnt_wrapper .quickLinks {
    position: absolute;
    right: 30%;
    top: 235px;
}
.featureProductSecondContainer .second_cnt_wrapper .cnt {
    text-align: center;
}
.second_cnt_wrapper .reviews {
    justify-content: center;
}
.second_cnt_wrapper a.productNames {
    font-size: 17px;
}
}
/* extra extra small device responsive css ends here */
/* iPhone6 to iPhone 8 responsive css starts here*/
@media (min-width:351px) and (max-width: 389.98px){
    #header .mbl_header .offCanvas {
    max-width: 400px;
    width: 295px;
}
#header .mblMenu ul a {
    width: 130px;
}
    #banner .slider_content_wrapper {
    height: 420px;
    padding: 10px 30px;
    margin: 20px 0;
    text-align: center;
}
    #banner .slider_content_wrapper h1 {
    font-size: 40px;
}
#banner .slider_content_wrapper h2{
    font-size: 32px;
    margin: 5px 0;
}
#banner .slider_content_wrapper h4 {
    font-size: 23px;
}
#banner .slider_content_wrapper p {
    font-size: 12px;
    margin: 6px 0;
}
#banner .slider_content_wrapper a {
    padding: 5px 10px;
    width: 98px;
    height: 33px;
    margin: 10px 0px;
    font-size: 10px;
    margin: auto;
}
#otherService {
    width: 100%;
    transform: translateY(0);
    height: auto;
}
#otherService .otherservicesBg {
    padding: 0px 0px;
}
#otherService .freeShip {
    border-bottom: 1px solid #e9e7e7;
    padding-bottom: 10px;
}
#otherService .freeShip .freeShipCnt h6 {
    font-size: 12px;
}
#otherService .freeShip .freeShipCnt p {
    font-size: 10px;
}
#feature .heading {
    margin-bottom: 15px;
    margin-top: 15px;
}
#feature .featureProCard .featureImg {
    position: relative;
    padding: 0 0 0 38px;
}
}
/* iPhone6 to iPhone8 responsive css ends here */
/* iPhone11 to iPhone14 pro responsive css starts here */
@media (min-width:390px) and (max-width:420.98px){
    #header .mbl_header .offCanvas {
    max-width: 400px;
    width: 280px;
}
    #banner .slider_content_wrapper {
    height: 435px;
    text-align: center;
    margin: 20px 0;
}
#banner .slider_content_wrapper h1 {
    font-size: 42px;
}
#banner .slider_content_wrapper h2 {
    font-size: 33px;
}
#banner .slider_content_wrapper h4 {
    font-size: 23px;
}
#banner .slider_content_wrapper p {
    font-size: 11px;
    margin: 2px 0 15px 0;
}
#banner .slider_content_wrapper a {
    padding: 5px 10px;
    width: 98px;
    height: 33px;
    font-size: 10px;
    margin: auto;
}
#otherService {
    width: 100%;
    transform: translateY(0);
    height: auto;
}
#otherService .otherservicesBg {
    padding: 0px 0px;
}
#otherService .freeShip {
    border-bottom: 1px solid #e9e7e7;
    padding-bottom: 10px;
}
#otherService .freeShip .freeShipCnt h6 {
    font-size: 12px;
}
#otherService .freeShip .freeShipCnt p {
    font-size: 10px;
}
#feature .heading {
    margin-bottom: 15px;
    margin-top: 15px;
}
#feature .featureProCard .featureImg {
    position: relative;
    padding: 0 0 0 54px;
}
}
/* iPhone11 to iPhone14 pro responsive css ends here */
/* iPhone11pro-max to 17pro-max devices responsive starts here */
@media (min-width:421px) and (max-width:475.98px){
    #header .mblMenu ul a {
    width: 145px;
    font-size: 32px;
}
#header .mblMenu ul li a span {
    font-size: 17px;
}
    #banner .slider_content_wrapper {
    height: 485px;
    text-align: center;
    margin: 20px 0;
}
    #banner .slider_content_wrapper h1 {
    font-size: 48px;
}
#banner .slider_content_wrapper h2 {
    font-size: 37px;
}
#banner .slider_content_wrapper h4 {
    font-size: 25px;
}
#banner .slider_content_wrapper p {
    font-size: 13px;
    margin: 5px 0;
}
#banner .slider_content_wrapper a {
    padding: 5px 10px;
    width: 98px;
    height: 33px;
    font-size: 10px;
    margin: auto;
}
#otherService {
    width: 100%;
    transform: translateY(0);
    height: auto;
}
#otherService .otherservicesBg {
    padding: 0px 0px;
}
#otherService .freeShip {
    border-bottom: 1px solid #e9e7e7;
    padding-bottom: 10px;
}
#otherService .freeShip .freeShipCnt h6 {
    font-size: 12px;
}
#otherService .freeShip .freeShipCnt p {
    font-size: 10px;
}
#feature .heading {
    margin-bottom: 15px;
    margin-top: 15px;
}
#feature .featureProCard .featureImg {
    position: relative;
    padding: 0 0 0 85px;
}
}
/* iPhone 11pro-max to 17 promax-devices responsive ends here */
/* others extra small device responsive css starts here*/
@media (min-width:476px) and (max-width:575.98px){
    #header .mblMenu ul a {
    width: 180px;
}
    #banner .slider_content_wrapper {
    height: 510px;
    text-align: center;
    padding-top: 25px;
}
#banner .slider_content_wrapper h6 {
    font-size: 10px;
}
    #banner .slider_content_wrapper h1 {
    font-size: 34px;
}
#banner .slider_content_wrapper h2 {
    font-size: 25px;
}
#banner .slider_content_wrapper h4 {
    font-size: 20px;
    margin: 3px 0;
}
#banner .slider_content_wrapper p {
    font-size: 12px;
    margin:0px 0 10px 0;
}
#banner .slider_content_wrapper a {
    padding: 5px 10px;
    width: 98px;
    height: 33px;
    font-size: 10px;
    margin: auto;
}
#otherService {
    width: 100%;
    transform: translateY(0);
    height: auto;
}
#otherService .otherservicesBg {
    padding: 0px 0px;
}
#otherService .freeShip {
    border-bottom: 1px solid #e9e7e7;
    padding-bottom: 10px;
}
#otherService .freeShip .freeShipCnt h6 {
    font-size: 12px;
}
#otherService .freeShip .freeShipCnt p {
    font-size: 10px;
}
#feature .heading {
    margin-bottom: 15px;
    margin-top: 15px;
}
#feature .featureProCard .featureImg {
    position: relative;
    padding: 0px 0 0 150px;
}
}
/* others extra small device responsive css ends here*/
/* small device responsive css starts here*/
@media (min-width:576px) and (max-width: 767.98px){
    #header .mblMenu ul a {
    width: 180px;
}
    #banner .slider_content_wrapper {
    height: 590px;
    padding: 20px 30px 0 30px;
    text-align: center;
    margin: 20px 0;
}
    #banner .slider_content_wrapper h1 {
    font-size: 53px;
}
#banner .slider_content_wrapper h2 {
    font-size: 47px;
}
#banner .slider_content_wrapper h4 {
    font-size: 25px;
}
#banner .slider_content_wrapper p {
    margin: 2px 0 10px 0;
}
#banner .slider_content_wrapper a {
    padding: 5px 10px;
    width: 98px;
    height: 33px;
    font-size: 10px;
    margin: auto;
}
#otherService {
    border-radius: 8px;
    padding: 0px 0px;
    width: 100%;
    height: 128px;
    transform: translateY(0);
    height: auto;
}
#otherService .freeShip{
    margin-bottom: 15px;
    border-right: 1px solid #e9e7e7;
}
#feature .heading {
    margin-bottom: 15px;
    margin-top: 15px;
}
#feature .featureProCard .featureImg {
    position: relative;
    padding: 0 0 0 140px;
}
}
/* small device responsive css ends here*/
/* medium size devices responsive css starts here */
@media (min-width: 768px) and (max-width:991.98px){
    #header .headerCenter p {
    font-size: 10px;
}
    #banner .slider_content_wrapper {
    height: 350px;
}
    #banner .slider_content_wrapper h6 {
    font-size: 12px;
}
    #banner .slider_content_wrapper h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
#banner .slider_content_wrapper h2 {
    font-size: 34px;
    margin-bottom: 10px;
    line-height: 108%;
}
#banner .slider_content_wrapper h4 {
    font-size: 22px;
}
#banner .slider_content_wrapper p {
    font-size: 12px;
    margin: 3px 0;
}
#banner .slider_content_wrapper a {
    padding: 12px 14px;
    width: 130px;
}
#otherService {
    border-radius: 8px;
    padding: 0 29px;
    width: 70%;
    height: auto;
    transform: translateY(-60px);
}
#otherService .otherservicesBg {
    padding: 0px 0px;
}
#otherService .freeShip{
    padding:0 0 15px 0;
    margin: 5px 0;
}
#otherService .freeShip .freeShipCnt h6 {
    font-size: 12px;
}
#otherService .freeShip .freeShipCnt p {
    font-size: 9px;
}
#feature .featureProCard .featureImg {
    position: relative;
    padding: 0 0 0 35px;
}
}
/* medium size devices responsive css ends here */
/* large size devices responsive css starts here */
@media (min-width:992px) and (max-width:1199.98px){
    #banner .slider_content_wrapper {
    height: 450px;
}
    #banner .slider_content_wrapper h1 {
    font-size: 59px;
    margin: 5px 0;
}
#banner .slider_content_wrapper h2 {
    font-size: 47px;
    margin: 5px 0;
}
#banner .slider_content_wrapper h4 {
    font-size: 29px;
}
#otherService {
    width: 930px;
    height: 128px;
}
#otherService .freeShip .freeShipCnt h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}
#otherService .freeShip .freeShipCnt p {
    font-size: 10px;
}
}
/* large size devices responsive css ends here */